.c-nav{

  
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.c-nav__ico{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.c-nav__ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
}